# =========================
# DuckDNS configuration
# =========================

# User and group IDs
PUID=1000
PGID=1000

# Timezone
TZ=Europe/Madrid

# DuckDNS subdomain (without .duckdns.org)
SUBDOMAINS=your-subdomain

# DuckDNS token
TOKEN=YOUR_DUCKDNS_TOKEN

# Enable/disable logging
LOG_FILE=false